*{
    margin: 0;
    padding: 0;
}

.tampilan{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pilihan{
    flex-direction: column;
}

.head{
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.tambahdata{
    float: left;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pendapatan{
    float: right;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}

table{
    margin-top: 60px;
    border-collapse: collapse;
    margin-left: 5%;
    margin-bottom: 30px;
}

table, th, td{
    border: solid black;
    padding: 5px;
}